@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

body {
  background: rgb(17,17,40);
  /* display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif; */
  /* padding-top: 100px; */
  /* height: 100%; */
  /* margin: -20px 0 50px; */
}
